form{
	margin-bottom: 60px;
	margin-top: 45px;	
}

form .form-group{
	display: block!important;
	margin-top: 14px;
}

h3{
	margin: 10px;
}


.row h3{
	margin-top: 40px;
	padding-left: 5px;
	font-size: 3rem;
	margin-bottom: 30px;
}

.row p {
	margin-left: 15px;
}

.jumbotron{
    background: #76f1e0;
    margin-top: 20px;	
}

#calc{
    background: #f95959;
    border: none;
    box-shadow: 0px 0px 5px -1px black;	
}

#calc:hover{
	background: #bd3939;
}

#calc:active{
    background: #962c2c;
}

.label-default{
    background-color: #76f1e0;
    font-size: 3rem;	
}